<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @monster.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @monster.size %>
</p>

<p>
  <strong>Race:</strong>
  <%= @monster.race %>
</p>

<p>
  <strong>Subtype:</strong>
  <%= @monster.subtype %>
</p>

<p>
  <strong>Alignment:</strong>
  <%= @monster.alignment %>
</p>

<p>
  <strong>Armor class:</strong>
  <%= @monster.armor_class %>
</p>

<p>
  <strong>Hit points:</strong>
  <%= @monster.hit_points %>
</p>

<p>
  <strong>Hit dice:</strong>
  <%= @monster.hit_dice %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @monster.speed %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @monster.strength %>
</p>

<p>
  <strong>Dexterity:</strong>
  <%= @monster.dexterity %>
</p>

<p>
  <strong>Constitution:</strong>
  <%= @monster.constitution %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @monster.intelligence %>
</p>

<p>
  <strong>Wisdom:</strong>
  <%= @monster.wisdom %>
</p>

<p>
  <strong>Charisma:</strong>
  <%= @monster.charisma %>
</p>

<p>
  <strong>Wisdom save:</strong>
  <%= @monster.wisdom_save %>
</p>

<p>
  <strong>Damage vulnerabilities:</strong>
  <%= @monster.damage_vulnerabilities %>
</p>

<p>
  <strong>Damage resistances:</strong>
  <%= @monster.damage_resistances %>
</p>

<p>
  <strong>Damage immunities:</strong>
  <%= @monster.damage_immunities %>
</p>

<p>
  <strong>Condition immunities:</strong>
  <%= @monster.condition_immunities %>
</p>

<p>
  <strong>Senses:</strong>
  <%= @monster.senses %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @monster.languages %>
</p>

<p>
  <strong>Challenge rating:</strong>
  <%= @monster.challenge_rating %>
</p>

<p>
  <strong>Special abilities:</strong>
  <%= @monster.special_abilities %>
</p>

<p>
  <strong>Actions:</strong>
  <%= @monster.actions %>
</p>

<p>
  <strong>Constitution save:</strong>
  <%= @monster.constitution_save %>
</p>

<p>
  <strong>Perception:</strong>
  <%= @monster.perception %>
</p>

<p>
  <strong>History:</strong>
  <%= @monster.history %>
</p>

<p>
  <strong>Legendary actions:</strong>
  <%= @monster.legendary_actions %>
</p>

<p>
  <strong>Intelligence save:</strong>
  <%= @monster.intelligence_save %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @monster.religion %>
</p>

<p>
  <strong>Medicine:</strong>
  <%= @monster.medicine %>
</p>

<p>
  <strong>Stealth:</strong>
  <%= @monster.stealth %>
</p>

<p>
  <strong>Dexterity save:</strong>
  <%= @monster.dexterity_save %>
</p>

<p>
  <strong>Charisma save:</strong>
  <%= @monster.charisma_save %>
</p>

<p>
  <strong>Persuasion:</strong>
  <%= @monster.persuasion %>
</p>

<p>
  <strong>Insight:</strong>
  <%= @monster.insight %>
</p>

<p>
  <strong>Deception:</strong>
  <%= @monster.deception %>
</p>

<p>
  <strong>Athletics:</strong>
  <%= @monster.athletics %>
</p>

<p>
  <strong>Arcana:</strong>
  <%= @monster.arcana %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @monster.nature %>
</p>

<p>
  <strong>Acrobatics:</strong>
  <%= @monster.acrobatics %>
</p>

<p>
  <strong>Strength save:</strong>
  <%= @monster.strength_save %>
</p>

<p>
  <strong>Reactions:</strong>
  <%= @monster.reactions %>
</p>

<p>
  <strong>Survival:</strong>
  <%= @monster.survival %>
</p>

<p>
  <strong>Investigation:</strong>
  <%= @monster.investigation %>
</p>

<p>
  <strong>Intimidation:</strong>
  <%= @monster.intimidation %>
</p>

<p>
  <strong>Performance:</strong>
  <%= @monster.performance %>
</p>

<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Back', monsters_path %>
